In [2]:
import pandas as pd

data = {
    'name': ['John', 'Anna', 'Peter', 'Linda'],
    'location': ['New York', 'Paris', 'Berlin', 'London'],
    'age': [27, 24, 22, 32]
}

df = pd.DataFrame(data)

df

    name  location  age
0   John  New York   27
1   Anna     Paris   24
2  Peter    Berlin   22
3  Linda    London   32